<!DOCTYPE html5>
<html>
<head>
  <title>Богатый продавец - счастливый покупатель</title>
  <META content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="fonts.css" type="text/css" rel="stylesheet" />
  <link href="style.css" type="text/css" rel="stylesheet" />
  <script src="lib/jquery-1.10.2.min.js"></script>
  <script src="lib/jquery.maskedinput.min.js"></script>
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="script.js"></script>
</head>
<body>
  
  <div id="menu">
    <div class="wrapper">
      <ul class="menu">
        <li style="width: 100px; text-align: left; padding-left:10px;"><a href="#">О ТРЕНЕРЕ</a></li><li style="width: 200px">
        <a href="#">ЗАЯВКА НА УЧАСТИЕ</a></li><li style="width: 190px">
        <a href="#">ОТЗЫВЫ КЛИЕНТОВ</a></li><li style="width: 220px">
        <a href="#">ПРОГРАММА ТРЕНИНГА</a></li><li style="width: 220px; text-align: right; padding-right:15px;">
        <a href="#">КОНСУЛЬТАЦИЯ МЕНЕДЖЕРА</a></li>
      </ul>
      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div id="main">
    <div class="wrapper padded">
      <div class="logo-and-address">
        <div class="logo">
          <img src="images/logo.png" />
        </div>
        <div class="contacts">
          <div class="contact phone">
            <div class="contact-icon"></div>
            <div class="cont">
              <div class="cont-title">ТЕЛЕФОН</div>
              <div class="left" style="font-weight: 700; font-size: 24px;">21-907-21</div>
            </div>
          </div>
          <div class="contact address">
            <div class="contact-icon"></div>
            <div class="cont">
              <div class="cont-title">ОФИС</div>
              <div class="left" style="font-weight: 700; font-size: 24px;">Белинского 56, офис 938</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear" style="clear: both;"></div>
      <div style="height: 1px; border-bottom: 1px solid #b4d700; margin-left:-20000px; margin-right: 160px;"></div>
      <div class="green main-subtitle1">
        14-15 февраля, Екатеринбург<br>
        Business Relations представляет новый тренинг
      </div>

      <div class="main-title">
        <span class="green" style="margin-left: -30px;">«</span> Богатый продавец -<br>счастливый покупатель <span class="green">»</span>
      </div>

      <ul>
        <li style="list-decoration: none; margin-top: -5px; margin-bottom: 5px; font-weight: 700; font-size: 25px; padding-left: 0px;">Выйди за рамки этапов продаж!</li>
        <li>Как вывести свои результаты на новый уровень?</li>
        <li>Как превратить продажи из рутины в удовольствие?</li>
        <li>Как отстроиться от конкурентов и зарабатывать больше?</li>
      </ul>

      <div class="video">
        <div class="play-button"></div>
      </div>
      <div class="pic-description green">
        Сергей<br>
        Косолапов<br>
        <div style="font-size: 10px; margin-top: 6px;">ТРЕНЕР КОМПАНИИ BR</div>
      </div>
    </div>
  </div>

  <div class="lead-block">
    <div class='wrapper'>
      <div class="lead-title">Оставте заявку на участие в тренинге</div>
      <div class='form'>
        <input name="name1" id="name1" placeholder="Ваше имя"/>
        <input name="phone1" id="phone1" placeholder="Ваш телефон"/>
        <input name="email1" id="email1" placeholder="Ваш E-mail"/>
        <input type="submit" class="button button-orange" value='ОТПРАВИТЬ'/>
      </div>
      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div id="for-people">
    <div class="wrapper">
      <div class="title">Для кого этот тренинг</div>
      <div class="columns">
        <div class="column">
          <div class="image" style="background-position: 0px 0px"></div>
          <div class="project-title">Менеджеры по продажам</div>
          <ul>
            <li>Увеличение интереса к клиенту и процессу продаж</li>
            <li>Повышение уверенности в себе</li>
            <li>Освоение эффективная технология продаж</li>
            <li>Увеличение собственной эффективности в общении с клиентами</li>
            <li>Освоение методик улучшения результатов продаж</li>
          </ul>
        </div>
        <div class="column">
          <div class="image" style="background-position: -128px 0px"></div>
          <div class="project-title">Руководители отделов продаж</div>
          <ul>
            <li>Увеличение собственной эффективности в общении с подчинёнными</li>
            <li>Возможность улучшить отношения в команде</li>
            <li>Новые способы улучшения результатов команды</li>
          </ul>
        </div>
        <div class="column">
          <div class="image" style="background-position: -256px 0px"></div>
          <div class="project-title">Собственники малого бизнеса</div>
          <ul>
            <li>Возможность улучшить отношения с клиентами и коллегами</li>
            <li>Увеличение прибыльности и эффективности бизнеса</li>
            <li>Взгляд на бизнес через призму отношения</li>
          </ul>
        </div>
        <div class="column">
          <div class="image" style="background-position: -384px 0px"></div>
          <div class="project-title">Внутренние тренеры компаний</div>
          <ul>
            <li>Новый угол зрения на продажи и возможность вести разговор о продажах на другом уровне</li>
            <li>Знания для повышения мотивации сотрудников</li>
          </ul>
        </div>
      </div>
      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div id="companies">
    <div style="height: 3px; background-color: #b4d700; width: 100%; margin-bottom:-69px;"></div>
    <div class="wrapper">
      <div class="title" style="background-color: white; width:500px; margin: 50px auto; margin-bottom:15px;">Компании, прошедшие обучение</div>
      <img src="images/companies.jpg"/>
      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div id="program">
    <div class="wrapper">
      <div class="title">Программа тренинга</div>
      <div class="columns">
        <div class="column">
          <div class="day-title">1 день</div>
          <iframe src="http://player.vimeo.com/video/101615498?color=b4d700&title=0&byline=0" width="460" height="259" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <div class="day-subtitle">Цели программы</div>
          <ul>
            <li>Изменение отношения к продажам с целью увеличения эффективности</li>
            <li>Повышение собственной осознанности</li>
            <li>Принятие целей компании и планов продаж как своих для более эффективного их достижения</li>
          </ul>
          <div class="day-subtitle">Ожидаемый результат</div>
          <ul>
            <li>Осознание собственного отношения к продажам</li>
            <li>Понимание необходимости формирования результативного отношения к целям, клиентам, коллегам, подчиненным, руководителям и партнерам</li>
            <li>Мотивация на создание экстраординарных результатов на рабочем месте</li>
            <li>Овладение технологиями работы с отношением</li>
            <li>Повышение самомотивации и результативности</li>
          </ul>
        </div>
        <div class="column">
          <div class="day-title">2 день</div>
          <iframe src="http://player.vimeo.com/video/101616291?color=b4d700&title=0&byline=0" width="460" height="259" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <div class="day-subtitle">Цели программы</div>
          <ul>
            <li>Освоить эффективную технологию продаж, основанную на графике принятия решений</li>
            <li>Научиться определять по поведенческим индикаторам, в какой точке принятия решения находится покупатель</li>
            <li>Освоить эффективные инструменты влияния на решение покупателя</li>
            <li>Научиться находить индивидуальный подход к клиенту</li>
          </ul>
          <div class="day-subtitle">Ожидаемый результат</div>
          <ul>
            <li>Практическое освоение технологии продаж, позволяющей выйти во внутриконкурентную зону любого бизнеса</li>
            <li>Приобритение навыка взаимодействия с покупателем, позволяющего сократить время принятия положительного решения о покупке</li>
          </ul>
        </div>
      </div>
      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div class="lead-block" style="height: 145px;">
    <div class="wrapper" style="padding: 15px 0px;">
      <div class="lead-big-title">Стоимость участия 10 000 руб.</div>
      <div class="lead-title">Оставте заявку на участие в тренинге</div>
      <div class='form'>
        <input name="name1" id="name1" placeholder="Ваше имя"/>
        <input name="phone1" id="phone1" placeholder="Ваш телефон"/>
        <input name="email1" id="email1" placeholder="Ваш E-mail"/>
        <input type="submit" class="button button-orange" value='ОТПРАВИТЬ'/>
      </div>
      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div id="reviews">
    <div class="wrapper">
      <div class="title">Отзывы людей и результаты компаний,<br>прошедших тренинг</div>
      <div class="review">
        <div class="review-photo">
          <!--<div class="review-face" style="background-position: 0px 0px;"></div>-->
          <div class="name">Ольга Гатовская</div>
          <div class="green">
            HR-Директор<br>
          </div>
          <div class="gray">Media Markt</div>
          <!-- <div class="gray">
            оптовая продажа<br>
            трубопроводной арматуры 
          </div> -->
        </div>
        <div class="review-text">
          <div class="vertical-center">
            Причиной начала сотрудничества с компанией Business Relations послужило желание изменить отношение линейного персонала к процессу продажи, вернуть любовь к этому процессу и, конечно, повысить уровень качества обслуживания, в конечном счёте.<br>
            Программа «Продажи через Отношение», которую провел Сергей Косолапов, задела ценностный уровень сотрудников, участвующих в обучении, изменила установки многих из них.<br>
            Сергей говорил на языке участников, вёл открытый диалог, в котором участники семинара обсуждали насущные проблемы, сомнения, возражения. Все возражения Сергей отрабатывал не только теоретическими концепциями, но и большим количеством примеров из личной практики.<br>
            Рады рекомендовать эту программу всем, кто заинтересован не только в высоких результатах, но и качественной работе с сотрудниками.
          </div>
        </div>
      </div>

      <div class="review">
        <div class="review-photo">
          <div class="name">Алексей Карчажкин</div>
          <div class="green">
            Директор дирекции «Москва»
          </div>
          <div class="gray">
            Home Credit<br>
            and Finance Bank
          </div>
        </div>
        <div class="review-text">
          <div class="vertical-center">
            Я уверен, что ни один из успешных видов бизнеса сегодня не возможен без построения партнерских отношений. Доверительные отношения касаются не только цепочки продавцов и клиентов, но и имиджа компании в целом. Программа «Продажи через отношения» Сергея Косолапова способствовала успешному внедрению более совершенной системы работы с партнерами Банка. Говоря о коммуникациях, сложно представить подобные отношения без заинтересованности персонала; чем масштабнее поставленные задачи – тем актуальнее работа в команде, каждое звено которой, стремится к достижению поставленных целей. Программа дала возможность переосмыслить ценность построения партнерских отношений с клиентами Банка, продемонстрировала актуальность работы в команде и научила сотрудников ставить общие цели выше личных.<br>
            Руководители продаж, прошедшие тренинг вместе со своими сотрудниками, выражают заинтересованность в проведении аналогичных программ для новых сотрудников с целью восприятия ими введения новой системы работы как поддержки их целей по увеличению личных результатов.
          </div>
        </div>
      </div>

      <div class="review">
        <div class="review-photo">
          <div class="name">Алла Самодурова</div>
          <div class="green">
            Sales-metodologist<br>
          </div>
          <div class="gray">
            VolksWagen Financial<br>Services Rus
          </div>
        </div>
        <div class="review-text">
          <div class="vertical-center">
            Тренинг «ТДЭР» оказался для нашей компании непростым испытанием. За 3 курса тренинга мы прошли путь от сильнейшего сопротивления и непонимания к полному осознанию и принятию себя, друг друга и новых правил игры, по которым стало возможно управлять своей жизнью, карьерой и отношениями с новыми, действительно экстраординарными результатами.<br>
            Тренинг дал возможность на время отбросить социальные протоколы и офисный формализм, чтобы честно и открыто озвучить те глубинные причины, которые тормозят развитие как себя лично, так и компании в целом.<br>
            Сотрудники компании, которые прошли все части тренинга, к финалу стали по-настоящему сплоченной командой, где каждый друг за друга готов стоять горой, действуя при этом методами не борьбы, а сотрудничества.<br>
            Изменив отношение к другим, мы видим, как меняется отношение к нам и тех, кто не проходил тренинг, как смещается фокус с «кто виноват» на «что делать дальше», понимаем насколько проще и эффективнее решать любые вопросы с позиции отдавания.<br>
            До тренинга у нас была большая проблема технического и коммуникативного характера, которая приводила к большому количеству претензий от дилеров. Мы поставили цель качественно организовать работу таким образом, чтобы снять эти претензии.<br>
            Провели несколько встреч с вовлеченными департаментами, пересмотрели некоторые бизнес-процессы, договорились о взаимодействии. – активные действия «экипажа» внесли значительный вклад, и в результате сейчас процессы наладились, претензий со стороны дилеров по этому поводу практически нет, цель достигнута.<br>
            Кроме того, мы ставили себе еще нерабочую цель – совместно или по отдельности принять участие в социальном проекте. Почти все это осуществили – принимали участие в субботниках, волонтерских мероприятиях и т.п. Очень вдохновились общественно-полезным трудом!<br>
            Тренинг будет полезен любой компании, стремящейся сделать качественный рывок для выхода на новую стадию развития.
          </div>
        </div>
      </div>

      <div class="review">
        <div class="review-photo">
          <div class="name">Ирина Старикова</div>
          <div class="green">
            HR-директор
          </div>
          <div class="gray">
            Профит
          </div>
        </div>
        <div class="review-text">
          <div class="vertical-center">
            В тренинге сработал принцип "через отношения" – многие вещи – продажи, закупки, сервис, конфликты, командировки, руководство сотрудниками, завоевание новых клиентов и т. д. – стали решаться в большей степени "через отношения", а не через технологии продаж, методики, стандарты и схемы.<br>
            Особенно ценным для нас было одну команду воедино, в неформальной обстановке, вне офиса, вне рабочей атмосферы, всех взбодрить при помощи “постороннего” человека, новыми, непривычными мыслями и идеями, а не с помощью внутреннего руководителя или сотрудника. Люди стали ближе друг к другу, интереснее друг другу, важнее, дороже.<br>
            После тренинга мы избавились от балласта и негатива. Это настоящий позитив! На тренинге выявились “террористы" и те, чьи ценности не совпадают с ценностями компании, тренинг стал катализатором в их выявлении, это произошло так явно и красочно, и стало очевидно для всех. Через считанные дни и недели мы целостно расстались с этими сотрудниками. Оставшаяся же команда начала говорить на едином языке.<br>
            Сергей Косолапов – очень внимательный, приятный в общении, интересный, яркий тренер. Желаем ему огромной удачи!
          </div>
        </div>
      </div>

      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div id="about">
    <div class="wrapper">
      <img src="images/sergey.png" style="float: left;"/>
      <div class="about-block">
        <div class="about-title">О тренере</div>
        <div class="green">Косолапов Сергей</div>
        <div class="gray">бизнес-тренер, коуч</div>

        <div class="about-text">
          Сергей окончил факультет морской и авиационной техники Нижегородского Государственного Технического Университета в 2010г. После защиты дипломного проекта работал в сфере медицинского оборудования в ЗАО «Интермедсервис» — одной из ведущих российских компании в этой области.<br><br>

          В 2011 г. он окончил Школу тренеров Жанны Завьяловой и до 2012г. как тренер занимался развитием системы продаж и сервиса в компании “Enter-Связной”.<br>
          В 2012 году Сергей стал участником тренинга Business Relations. Вскоре он прошел конкурсный отбор, став самым молодым тренером в команде.<br><br>

          В настоящее время Сергей является тренером компании Business Relations и специализируется на проведении корпоративных программ, направленных на создание эффективного рабочего контекста и повышение результативности. Ведет программамы «Продажи через отношение» и «Продажи Здесь и Сейчас».<br><br>

          Активный и разносторонний. За год подготовился и преодолел Берлинский марафон.
        </div>
      </div>
    </div>
  </div>

  <div id="partners">
    <div class="wrapper">
      <div class="title">Информационные партнеры</div>
      <img src="images/partners.jpg">
      <div class="clear" style="clear: both;"></div>
    </div>
  </div>

  <div id="map">
    <div id="ymap" style="height: 550px; width: 100%;"></div>
    <div class="wrapper">
      <div class="form">
        <div class="form-title">Остались вопросы?</div>
        <div class="form-subtitle">Оставте заявку<br>на консультацию менеджера</div>
        <input type="text" class="form-input form-name" id="main-name" placeholder="Ваше имя" ng-model="names['main']"></input>
        <input type="text" input-mask class="form-input form-phone" id="main-phone" placeholder="Ваш телефон" ng-model="phones['main']"></input>
        <input type="text" class="form-input form-mail" id="main-mail" placeholder="Ваш e-mail" ng-model="emails['main']"></input>
        <input type="submit" class="button button-orange" value='ОТПРАВИТЬ'/>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="wrapper">
      <div class="logo-and-address">
        <div class="logo">
          <img src="images/logo.png" style="height:60px;margin-top:34px;"/>
        </div>
        <div class="contacts">
          <div class="contact phone" style="margin-left:160px;">
            <div class="contact-icon"></div>
            <div class="cont">
              <div class="cont-title">ТЕЛЕФОН</div>
              <div class="left" style="font-weight: 700; font-size: 24px;">21-907-21</div>
            </div>
          </div>
          <div class="contact address">
            <div class="contact-icon"></div>
            <div class="cont">
              <div class="cont-title">ОФИС</div>
              <div class="left" style="font-weight: 700; font-size: 24px;">Белинского 56, офис 938</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
  (w[c] = w[c] || []).push(function() {
  try {
  w.yaCounter28193739 = new Ya.Metrika({id:28193739,
  webvisor:true,
  clickmap:true,
  trackLinks:true,
  accurateTrackBounce:true});
  } catch(e) { }
  });

  var n = d.getElementsByTagName("script")[0],
  s = d.createElement("script"),
  f = function () { n.parentNode.insertBefore(s, n); };
  s.type = "text/javascript";
  s.async = true;
  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

  if (w.opera == "[object Opera]") {
  d.addEventListener("DOMContentLoaded", f, false);
  } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/28193739" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=imBSQws7fjO8Hppn2yGnInRR01bbKnYWOv7yXbTsenOb*sVSgc7wqn*8Ys0q*h1EOsieoOrzk0iAydoIvuTnSFkC7/kmCLl77IBtVlDrF8T2nOZgi5jdSEGoZd1Va/kfmhZTyD2Q1hxXcTOZp4ypGlP*R06frwVZbgpFCUA1x3o-';</script>

</body>
</html>